/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #ffffff; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #333;
    border-bottom: 2px solid #444;
}

h1 {
    margin: 0;
    font-size: 2em;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.gallery img {
    max-width: 300px; /* Ajusta el tamaño máximo de las imágenes */
    width: 100%; 
    height: auto; /* Mantiene la proporción de aspecto */
    margin: 5px;
}

.gallery img:hover {
    transform: scale(1.05); /*Amplía la imagen un 5% al pasar el cursor.*/
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

/* Pantalla panorámica (más de 1300px) */
@media (min-width: 1300px) {
    .gallery img {
        flex: 1 1 calc(25% - 20px); /* 4 imágenes por fila */
        margin: 15px; /* Ajusta el espacio entre las imágenes */
    }

    h1 {
        font-size: 2.5rem; /* Aumenta el tamaño del título */
        padding: 20px 0; /* Ajusta el padding del título */
    }

    body{
        background-color: rgba(22, 22, 22, 0.759);
    }
}

/* Escritorio (entre 1000px y 1299px) */
@media (min-width: 1000px) and (max-width: 1299px) {
    .gallery img {
        flex: 1 1 calc(33.33% - 20px); /* 3 imágenes por fila */
        margin: 10px; /* Ajusta el espacio entre las imágenes */
    }

    h1 {
        font-size: 2rem; /* Tamaño del título más pequeño */
        padding: 15px 0; /* Ajusta el padding del título */
    }

    body{
        background-color: rgba(0, 68, 9, 0.742);
    }
}

/* Tableta (entre 650px y 999px) */
@media (min-width: 650px) and (max-width: 999px) {
    .gallery img {
        flex: 1 1 calc(50% - 20px); /* 2 imágenes por fila */
        margin: 10px; /* Ajusta el espacio entre las imágenes */
    }
    
    h1 {
        font-size: 1.8rem; /* Aumenta el tamaño de los títulos */
        padding: 12px 0; /* Ajusta el padding del título */
    }
    
    body{
        background-color: rgba(175, 0, 0, 0.6);
    }
}

/* Móvil (menos de 650px) */
@media (max-width: 649px) {
    .gallery img {
        flex: 1 1 100%; /* 1 imagen por fila, ocupa todo el ancho */
        margin: 5px; /* Reducido el espacio entre las imágenes */
        width: 100%; /* Ocupa el 100% del ancho de la pantalla */
    }
    
    h1 {
        font-size: 1.5rem; /* Ajusta el tamaño del título para móviles */
        padding: 8px 0; /* Reducido el padding del título */
    }
    
    body{
        background-color: rgba(185, 0, 136, 0.477);
    }
}
